:root {
  --background-color: #f1f8ffff;
  --nav-bar-color: #cee7ffff;
  --event-list-color: white;
  --text-color: black;
  --text-color-2: #4A5A5C;
  --input-bar-color: white;
  --button-color: #f3f7ff;
  --button-color-2: #fff5f6;
  --login-color: #cee7ff;
  --login-text: #043fc0;
}

.dark {
  --background-color: #101425;
  --nav-bar-color: #070B1E;
  --event-list-color: #070B1E;
  --text-color: white;
  --text-color-2: #b4bfce;
  --input-bar-color: #162053;
  --button-color: #0c1230;
  --button-color-2: #231315;
  --login-color: #1d2a6d;
  --login-text: #0051ff;
}

#theme-switch svg:last-child {
  display: none;
}

.dark #theme-switch svg:first-child{
  display: none;
}

.dark #theme-switch svg:last-child{
  display: block;
}