
html, body, #root {
  height: 100%;
  margin: 0;
}

#root > * {
  height: 100%;
}

body {
  font-size: 16;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  color: #000000;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#nav-bar {
  background-color: #e1e1e1;
  display: inline-flex;
  width: 100%;
  align-items: center;
}

#map {
  width: 50em;
}

.container {
  color: #4d4d4d;
  margin: 10px;
  text-align: justify;
  background-color: #00ffff00;
  float: left;
}

.eventContainer {
  width: 24em;
}

.eventWidget {
  border-radius: 12px;
  padding: 1px 8px;
  margin: 8px;
  background-color: #ffffff;
  cursor: pointer;
  box-shadow: 2px 2px 3px #00000057;
}

.mainContent {
  display: flex;
  flex-direction: row;
}

.reviewPanel {
  min-width: 20em;
  border-radius: 12px;
  padding: 1px 8px;
  margin: 8px;
  background-color: #ffffff;
  box-shadow: 2px 2px 3px #00000057;
  max-width: 40em;
}